{% extends 'user/commonbase.html' %}
{% load static %}
{% block content %}


<div class="search-right">
    <h1 class="text-center">Aspirants</h1>
    <div class="popup" style="margin-top:50px;">
        <form action="#" method="post" class="search-box">
            {% csrf_token %}
            <input type="search" style="background-color: rgba(128, 128, 128, 0.232);" placeholder="Search your Keyword"
                name="search" required="required" autofocus="">
            <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
    </div>
</div>

<section class="w3l-albums py-5" id="projects">
    <div class="container py-lg-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="resp-tabs-container hor_1">
                    <div class="albums-content">
                        <div class="row">
                            {% if result %}
                            {% for i in result %}
                            <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                <div class="slider-info">
                                    <div class="message" style="margin-left: 10%;">

                                        <a class="author-book-title">{{i.name}}</a>
                                        <h4> <span class="post"> {{i.email}}
                                            </span></h4>
                                        <h4> <span class="post"> {{i.phone}}</span></h4>
                                        <h4> <span class="post"> {{i.address}}
                                            </span>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% else %}
                            {% for i in efg %}
                            <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                <div class="slider-info">
                                    <div class="message" style="margin-left: 10%;">

                                        <a class="author-book-title">{{i.name}}</a>
                                        <h4> <span class="post"> {{i.email}}
                                            </span></h4>
                                        <h4> <span class="post"> {{i.phone}}</span></h4>
                                        <h4> <span class="post"> {{i.address}}
                                            </span>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}