{% extends 'admin/commonbase.html' %}
{% load static %}
{% block content %}

<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Add Movies</h3>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                {% for i in abc %}
                <div class="item vhny-grid">
                    <div class="box16">
                        <figure>
                            <img class="img-fluid" src="/static/assets/image/{{i.image}}" alt="">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">{{i.name}}</h3>
                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> {{i.duration}}

                                </span>
                            </h4>
                        </div>
                    </div>
                    <a href="/deletemovie?id={{i.id}}" class="btn btn-danger"
                    style="margin-top: 5%; margin-left:68%;">Delete</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}