{% extends 'aspirants/commonbase.html' %}
{% load static %}
{% block content %}

<!--/add movies-->
<section class="w3l-contact-1" style="margin-top: 5%;">
    <div class="contacts-9 py-5">
      <div class="container py-lg-4">
        <div class="headerhny-title text-center">
            <h3 class="hny-title mb-0">Add Videos</h3>
        </div>
        <div class="contact-view mt-lg-5 mt-4">
          <div class="conhny-form-section">
            <form method="post" class="formhny-sec" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="form-grids">
                        <div class="form-input">
                            <input type="text" name="Name"  placeholder="Enter your name *" required="" />
                        </div>

                        <div class="form-input">
                            <input type="file" name="Video" placeholder="Enter your Phone Number *"
                                required />
                        </div>

                    </div>
    
                    <div class="submithny text-right mt-4">
                        <button class="btn read-button">Add</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--//add movies-->

{% endblock %}