{% extends 'aspirants/commonbase.html' %}
{% load static %}
{% block content %}

<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">View Videos</h3>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                {% for i in abc %}
                <div class="item vhny-grid">
                    <a href="/aspirantsview_videodetails?id={{i.id}}&name={{i.name}}">
                        <video width="400" height="400" controls>
                            <source src="/static/assets/image/{{i.video}}" type="video/mp4">
                        </video>

                        <div class="box-content">
                            <h3 class="title" style="font-size: large;">{{i.name}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}